$lime: #13f36c;
$main-light: #f3f3f3;
$dark-gray: #666c8c;
$semi-dark-blue: #252b40;
$dark-blue: #151b2e;
$default-bg-dark-blue: #0a0f1d;
$double-light-gray-blue: #97a3cb;
$border-blue-gradient: linear-gradient(#0b0f1e 0 0) padding-box,
  linear-gradient(118.85deg, #0095ff 0%, #0855c4 92.5%) border-box;

$aside-history-width: 400px;
